タスク詳細

= form_for(@task, url: taskdetail_path) do |f|
  タスク名：
  = f.text_field :name
  カテゴリー：
  = f.collection_select :category_id, current_user.categories.all, :id, :name
  依頼元：
  = f.collection_select :client_id, current_user.clients.all, :id, :name
  期限：
  = f.date_select :duedate
  状態：
  = f.collection_select :status_id, Status.all, :id, :name
  担当：
  =@task.user.name
  詳細：
  = f.text_area :content, :size =>"60x10" 
  = f.submit '保存'

%section.flash-area
  -flash. each do |key, value|
    = content_tag(:div, value, class: "#key")