.taskdetail
  = render "shared/content_header"
  .taskdetail__main
    .taskdetail__main__logo
      タスク詳細
    .taskdetail__main__form
      = form_for(@task, url: taskdetail_path) do |f|
        -if @task.user_id == current_user.id
          .taskdetail__main__form__top__authority
            .display-flex.margin-top-15
              %p タスク名：
              = f.text_field :name, class: 'search-input'
            .display-flex.margin-top-15
              %p カテゴリー：
              = f.collection_select :category_id, current_user.categories.all, :id, :name, {}, class: 'search-select-input'
            .display-flex.margin-top-15
              %p 依頼元：
              = f.collection_select :client_id, current_user.clients.all, :id, :name, {}, class: 'search-select-input'
            .display-flex.margin-top-15
              %p 期限：
              = f.date_select :duedate, { use_month_numbers:true }, class: 'search-select-input'
            .display-flex.margin-top-15
              %p 状態：
              = f.collection_select :status_id, Status.all, :id, :name, {}, class: 'search-select-input'
            .display-flex.margin-top-15
              %p 担当：
              .lineheight28.text-gray
                =@task.user.name
          .taskdetail__main__form__under__authority
            .box__textarea.display-flex.margin-top-15
              詳細：
              = f.text_area :content, :size =>"60x10" , class: 'border-gray'
            .btn-box.display-flex.box-center.width40.margin-top-20
              .box__save-btn.box-center
                = f.submit '保存', class: 'middle-blue-white-btn'
              .box__back-btn.box-center
                = link_to '一覧へ戻る', tasks_path, class: 'middle-gray-white-btn'
        -else
          .taskdetail__main__form__top__regular
            .display-flex.margin-top-15
              タスク名：
              .text-gray
                = @task.name
            .display-flex.margin-top-15
              カテゴリー：
              .text-gray
                = @task.category.name
            .display-flex.margin-top-15
              依頼元：
              .text-gray
                = @task.client.name
            .display-flex.margin-top-15
              期限：
              .text-gray
                = @task.duedate
            .display-flex.margin-top-15
              状態：
              .text-gray
                = @task.status.name
            .display-flex.margin-top-15
              担当：
              .text-gray
                =@task.user.name
          .taskdetail__main__form__under__regular
            .margin-top-15
              詳細：
            .box__textarea.text-gray
              = @task.content
            .btn-box.box-center.width40
              = link_to tasks_path, class: 'middle-gray-white-btn margin-top-20' do
                一覧へ戻る
    .taskdetail__main__flash
      %section.flash-area
        -flash. each do |key, value|
          = content_tag(:div, value, class: "#key")