.edituser
  = render "shared/content_header"
  .edituser__main
    .edituser__main__logo
      アカウント情報変更
    .edituser__main__form
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .edituser-detail
          .edituser-detail__top.form-content
            名前
          .edituser-detail__name-input
            = f.text_field :name, placeholder: '> name', class: 'text-input'
          .edituser-detail__top.form-content
            部署
          .edituser-detail__department.text-black
            = current_user.department.name
          .edituser-detail__top.form-content
            メールアドレス
          .edituser-detail__emai-input
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '> e-mail', class: 'text-input'
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          .edituser-detail__top.form-content
            新パスワード(パスワードを変更しない場合は空欄のままにしてください。)
            %br= "※最低#{@minimum_password_length}文字以上"
          .edituser-detail__new-password-input
            - if @minimum_password_length
              = f.password_field :password, placeholder: '> password(new)', autocomplete: "new-passwaord", class: 'text-input'
          .edituser-detail__top.form-content
            新パスワード（確認）
          .edituser-detail__new-password-input
            = f.password_field :password_confirmation, placeholder: '> password(new)', autocomplete: "new-password", class: 'text-input'
          .edituser-detail__top.form-content
            現在のパスワード
          .edituser-detail__old-password-input
            = f.password_field :current_password, placeholder: '> password(old)', autocomplete: "current-password", class: 'text-input'
          .btn-box.display-flex
            .btn-box__edituser-edit.box-center
              = f.submit "変更", class: 'middle-blue-white-btn'
            .btn-box__back.box-center
              = link_to "退会", registration_path(resource_name), data: { confirm: "退会しますか?" }, method: :delete, class: 'middle-gray-white-btn'