- if current_user.admin?
  .section-header
    %h3 アカウント設定
    .section-header-breadcrumb
      .breadcrumb-item
        %a{ href: departments_path }部署管理
      .breadcrumb-item
        %a{ href: account_managements_path}アカウント管理
      .breadcrumb-item.active
        %a アカウント設定
- else
  .section-header
    %h3 アカウント設定
    .section-header-breadcrumb
      .breadcrumb-item
        %a{ href: tasks_path }タスク管理
      .breadcrumb-item
        %a{ href: categories_path}カテゴリー登録
      .breadcrumb-item.active
        %a アカウント設定

.card
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      %h5 名前
      = f.text_field :name, class: 'form-control col-2'
    .field
      = f.hidden_field :department_id
    .field
      %h5 メールアドレス
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control col-3'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field
      %h5 新パスワード
      %i (パスワードを変更しない場合は空欄のままにしてください。)
      %br/
      = f.password_field :password, autocomplete: "new-passwaord", class: 'form-control col-2'
      - if @minimum_password_length
        %br/
        %em
          = "最低#{@minimum_password_length}文字以上"
          
    .field
      %h5 新パスワード（確認）
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control col-2'
    .field
      %h5 現在のパスワード
      = f.password_field :current_password, autocomplete: "current-password", class: 'form-control col-2'
    .actions
      = f.submit "変更", class: 'btn btn-outline-primary'
    .actions #{button_to "退会", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-outline-secondary'}