.department
  = render "shared/content_header"
  .department__main
    .department__main__logo
      部署一覧
    .department__main__table
      = search_form_for @q do |f| 
        %table
          %thead
            %tr
              %th.width40
                = sort_link(@q, :name, "部署名")
              %th.width15
                = "人数"
              %th.width15
                = "タスク数"
              %th.width15.font-size14
                = "変更/作成"
              %th.width15
                = "削除"
          %tbody
            - @results.each do |result|
              %tr
                = form_for(result) do |f|
                  %td
                    = f.text_field :name, class: 'table-input'
                  %td
                    = result.users.length
                  %td
                    = Department.joins(users: :tasks).where(departments: {id: result}).length
                  %td
                    = f.submit '変更', class: 'mini-blue-white-btn'
                  %td
                    = link_to '削除', department_path(result.id), method: :delete, data: { confirm: '削除しますか?' }, class: 'mini-gray-white-btn'
            %tr
              = form_for(@new_department) do |f|
                %td
                  = f.text_field :name, placeholder: "> name", class: 'table-input'
                  = f.hidden_field :id
                %td
                  = "−"
                %td
                  = "−"
                %td
                  = f.submit '作成', class: 'mini-blue-white-btn'
                %td
                  
    .department__main__flash
      %section.flash-area
        -flash. each do |key, value|
          = content_tag(:div, value, class: "#key")