.department
  = render "shared/content_header"
  .department__main
    .department__main__logo
      部署一覧
    .department__main__table
      = search_form_for @q do |f| 
        %table.width70
          %thead
            %tr
              %th.width40
                = sort_link(@q, :name, "部署名")
              %th.width15
                = "人数"
              %th.width15
                = "タスク数"
              %th.width15
                = "変更/作成"
              %th.width15
                = "削除"
          %tbody
            - @results.each do |result|
              %tr.table-input-hover
                = form_for(result) do |f|
                  %td
                    = f.text_field :name, class: 'table-input'
                  %td
                    = result.users.length
                  %td
                    = Department.joins(users: :tasks).where(departments: {id: result}).length
                  %td
                    = f.submit '変更', class: 'mini-blue-white-btn'
                  %td
                    = link_to '削除', department_path(result.id), method: :delete, data: { confirm: '削除しますか?' }, class: 'mini-gray-white-btn'
            %tr.table-input-hover
              = form_for(@new_department) do |f|
                %td
                  = f.text_field :name, placeholder: "> name", class: 'table-input'
                  = f.hidden_field :id
                %td
                  = "−"
                %td
                  = "−"
                %td
                  = f.submit '作成', class: 'mini-blue-white-btn'
                %td
                  = "−"
    .department__main__flash.width70
      %section.flash-area
        -flash. each do |key, value|
          = content_tag(:div, value, class: "#key")

.department__main__table
  = search_form_for @q do |f| 
    %table.table.table-striped.table-hover.table-sm.table-bordered#department
      %thead.text-center
        %tr.d-flex
          %th.col-6
            = sort_link(@q, :name, "部署名")
          %th.col-2 
            = "人数"
          %th.col-2
            = "タスク数"
          %th.col-1
            = "変更/作成"
          %th.col-1
            = "削除"
      %tbody
        - @results.each do |result|
          %tr.d-flex
            = form_for(result) do |f|
              - if result.errors.any?
                #error_explanation
                  %h2
                    = pluralize(result.errors.count, "error")
                    prohibited this user from being saved:
                %ul
                  - result.errors.full_messages.each do |message|
                    %li 
                      = message
              %td.col-6
                = f.text_field :name, class: 'form-control col-12 taskform'
              %td.col-2
                = result.users.length
              %td.col-2
                = Department.joins(users: :tasks).where(departments: {id: result}).length
              %td.col-1
                = f.submit '変更', class: 'btn btn-outline-secondary btn-sm btn-block py-0'
              %td.col-1
                = link_to '削除', department_path(result.id), method: :delete, data: { confirm: '削除しますか?' }, class: 'btn btn-outline-secondary btn-sm btn-block py-0'
        %tr.d-flex
          = form_for(@new_department) do |f|
            - if @new_department.errors.any?
              #error_explanation
                %h2
                  = pluralize(@new_department.errors.count, "error")
                  prohibited this user from being saved:
              %ul
                - @new_department.errors.full_messages.each do |message|
                  %li 
                    = message
            %td.col-6
              = f.text_field :name, class: 'form-control col-12 taskform'
              = f.hidden_field :id
            %td.col-2
              = "−"
            %td.col-2
              = "−"
            %td.col-1
              = f.submit '作成', class: 'btn btn-outline-primary btn-sm btn-block py-0'
.department__main__flash
  %section.flash-area
    -flash. each do |key, value|
      = content_tag(:div, value, class: "#key")