.account_management
  = render "shared/content_header"
  .account_management__main
    .account_management__main__logo
      ユーザー一覧
    .account_management__main__table
      = search_form_for(@q, url: account_managements_path) do |f| 
        %table.width95
          %thead
            %tr
              %th.width2
                =sort_link(@q, :id, "ID")
              %th.width20
                =sort_link(@q, :name, "名前")
              %th.width20
                =sort_link(@q, :email, "メールアドレス")
              %th.width20
                =sort_link(@q, :department_name, "部署")
              %th.width3.font-size14
                =sort_link(@q, :authority, "閲覧権限")
              %th.width15
                = "パスワード"
              %th.width10
                = "変更/作成"
              %th.width10
                = "削除"
          %tbody
            - @results.each do |result|
              %tr
                = form_for(result, url: account_management_path(result.id)) do |f|
                  %td
                    = result.id
                  %td
                    = f.text_field :name, class: 'table-input'
                  %td
                    = f.text_field :email, class: 'table-input'
                  %td
                    .table-select-input.table-select
                      = f.collection_select :department_id, Department.all, :id, :name, {}, class: 'table-select-input'
                  %td
                    = f.check_box :authority, {}, :as => :boolean
                  %td
                    = '---'
                  %td
                    = f.submit '変更', class: 'mini-blue-white-btn'
                  %td
                    = link_to '削除', account_management_path(result.id), method: :delete, data: { confirm: '削除しますか?' }, class: 'mini-gray-white-btn'
            %tr
              = form_for(@new_user, url: account_managements_path(@new_user)) do |f|
                %td
                  -
                %td
                  = f.text_field :name, placeholder: '> name', class: 'table-input'
                %td
                  = f.email_field :email, placeholder: '> e-mail', class: 'table-input'
                %td
                  = f.collection_select :department_id, Department.all, :id, :name, {}, class: 'table-select-input'
                %td
                  = f.check_box :authority, {}, "true", "false"
                %td
                  = f.password_field :password, placeholder: '> pass(6文字以上)', class: 'table-input'
                %td
                  = f.submit '作成', class: 'mini-blue-white-btn'
                %td
                  
    .department__main__flash.width95
      %section.flash-area
        -flash. each do |key, value|
          = content_tag(:div, value, class: "#key")