依頼元
-unless @clients.nil?
  = form_for(@clients, url: clients_path, method: 'delete') do |f|
    = f.collection_select :id, current_user.clients.all, :id, :name
    = f.submit '削除', data: { confirm: '削除しますか?' }

= form_for(@new_client, url:  clients_path) do |f|
  - if @new_client.errors.any?
    #error_explanation
      %h2
        = pluralize(@new_client.errors.count, "error")
        prohibited this user from being saved:

    %ul
      - @new_client.errors.full_messages.each do |message|
        %li 
          = message

  .field
    = f.hidden_field :user_id, value: current_user.id
    = f.text_field :name
  .actions
    = f.submit '作成'

カテゴリー
-unless @categories.nil?
  = form_for(@categories, url: categories_path, method: 'delete') do |f|
    = f.collection_select :id, current_user.categories.all, :id, :name
    = f.submit '削除', data: { confirm: '削除しますか?' }

= form_for(@new_category) do |f|
  - if @new_category.errors.any?
    #error_explanation
      %h2
        = pluralize(@new_category.errors.count, "error")
        prohibited this user from being saved:

    %ul
      - @new_category.errors.full_messages.each do |message|
        %li 
          = message

  .field
    = f.hidden_field :user_id, value: current_user.id
    = f.text_field :name
  .actions
    = f.submit '作成'

%section.flash-area
  -flash. each do |key, value|
    = content_tag(:div, value, class: "#key")