%header.header.main-font
  .header__box.background-blue
    .header__box__logo.box-left
      = link_to root_path, class: 'header-logo  font-bold text-white1', data: {"turbolinks" => false} do
        Task-Manager
    %ul.header__box__content.box-right.display-flex
      - if user_signed_in?
        - if current_user.admin? 
          %li.header__box__content__text
            = link_to destroy_user_session_path, method: :delete, class: 'header-text text-white1' do
              = icon 'fas', 'sign-out-alt'
              ログアウト
          %li.header__box__content__text
            = link_to departments_path, class: 'header-text text-white1' do
              = icon 'fas', 'user'
              マイページ
        - else
          %li.header__box__content__text
            = link_to destroy_user_session_path, method: :delete, class: 'header-text text-white1' do
              = icon 'fas', 'sign-out-alt'
              ログアウト
          %li.header__box__content__text
            = link_to tasks_path, class: 'header-text text-white1' do
              = icon 'fas', 'user'
              マイページ
      - else
        %li.header__box__content__text
          = link_to new_user_registration_path, class: 'header-text text-white1' do
            = icon 'fas', 'user-plus'
            新規登録
        %li.header__box__content__text
          = link_to new_user_session_path, class: 'header-text text-white1' do
            = icon 'fas', 'sign-in-alt'
            ログイン